In [120]:
import numpy as np
import pandas as pd
from IPython.display import Markdown,display
def printmd(message,data):
    text="**<u>"+message+"</u>**"
    display(Markdown(text),data)
    
df = pd.DataFrame({'A':[None,2 , 3 , None, 5 ], 'B': [10 , None, None, 40 , 50 ], 'C':[ 100 , None, 300 , 400,None]})
printmd("Origin df:",df)
printmd("Eliminate any row with at least 1 NaN:",df.dropna())
printmd("Eliminate any row with Nan across all columns:",df.dropna(thresh=1,subset=df.columns))
printmd("Eliminate all rows that have NaN at least 1 NaN value in the [A , C ] columns only:",df.dropna(subset=['A','C']))
printmd("Fill Nan with random number:",df.fillna(np.random.randint(10)))

**<u>origin df</u>**

     A     B      C
0  NaN  10.0  100.0
1  NaN   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

**<u>eliminate any row with at least 1 NaN:</u>**

Empty DataFrame
Columns: [A, B, C]
Index: []

**<u>eliminate any row with Nan across all columns:</u>**

     A     B      C
0  NaN  10.0  100.0
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

**<u>Eliminate all rows that have NaN at least 1 NaN valu in the [A , C ] columns only:</u>**

     A   B      C
2  3.0 NaN  300.0

**<u>fill Nan with random number:</u>**

     A     B      C
0  0.0  10.0  100.0
1  0.0   0.0    0.0
2  3.0   0.0  300.0
3  0.0  40.0  400.0
4  5.0  50.0    0.0

     A     B      C
0  NaN  10.0  100.0
1  NaN   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [84]:
df=df = pd.DataFrame({'A':[None,2 , 3 , None, 5 ], 'B': [10 , None, None, 40 , 50 ], 'C':[ 100 , None, 300 , 400,None]})
printmd("Origin df",df)
df['B']=df['B'].fillna(df['B'].mean())
printmd("Fill column 'B' only with mean value of column 'B' values only",df)

**<u>origin df</u>**

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

**<u>fill column 'B' with mean value of column 'B'</u>**

     A          B      C
0  NaN  10.000000  100.0
1  2.0  33.333333    NaN
2  3.0  33.333333  300.0
3  NaN  40.000000  400.0
4  5.0  50.000000    NaN