In [36]:
import numpy as np
import pandas as pd
from IPython.display import Markdown,display
df=pd.read_csv('movie_scores.csv')
df.iloc[df['age'].idxmax()]

first_name            Oprah
last_name           Winfrey
age                    66.0
sex                       f
pre_movie_score         6.0
post_movie_score        8.0
Name: 3, dtype: object